html {
  background-color: black;
  -ms-overflow-style: none; /* IE and Edge */
  height: 100*50vh;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;

  & canvas {
    touch-action: auto;
    transition: opacity 1s;
    opacity: 0;
    position: fixed;
  }

  & #loading {
    @import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
    @mixin position-center($text-align: center) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: $text-align;
    }
    @keyframes blur-text {
      0% {
        filter: blur(0px);
      }
      100% {
        filter: blur(4px);
      }
    }

    transition: opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 2;

    & .loading-text {
      @include position-center;
      width: 100%;
      height: 100px;
      line-height: 100px;

      span {
        display: inline-block;
        margin: 0 5px;
        color: #fff;
        font-family: 'Quattrocento Sans', sans-serif;
        @for $i from 0 through 6 {
          &:nth-child(#{$i + 1}) {
            filter: blur(0px);
            animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
          }
        }
      }
    }
  }

  & #container {
    text-align: center;
    width: 100vw;
    position: absolute;
    z-index: 1;

    & #scroll_down {
      position: relative;

      & h3#scroll_down_text {
        transition: opacity 5s;
        opacity: 0;
        top: 50vh;
        width: 100vw;
        font-size: 7vh;
        line-height: 80%;
        text-transform: uppercase;
        color: #fff;
        font-family: "Zefani", serif;
        position: relative;
        padding: 2rem 0 9rem;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2222, 0 0 35px #ff2222, 0 0 40px #ff2222;


        & div#title span {
          display: inline-block;
        }

        @import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);
        @keyframes bounce {
          0%, 20%, 50%, 80%, to {
            transform: translateY(5px);
            -o-transform: translateY(5px);
            -moz-transform: translateY(5px);
            -webkit-transform: translateY(5px)
          }

          40% {
            transform: translateY(-35px);
            -o-transform: translateY(-35px);
            -moz-transform: translateY(-35px);
            -webkit-transform: translateY(-35px)
          }

          60% {
            transform: translateY(-25px);
            -o-transform: translateY(-25px);
            -moz-transform: translateY(-25px);
            -webkit-transform: translateY(-25px)
          }
        };

        & .scroll-more {
          z-index: -1;
          color: white;
          text-align: center;
          width: 100vw;
          position: relative;
          font-size: 40vh;
          opacity: 1;
          transition: opacity .3s ease;
          @supports (-webkit-touch-callout: none) {
            font-family: fantasy;
          }
          @supports not (-webkit-touch-callout: none) {
            font-family: monospace;
          }

          transform-origin: center;
          -o-transform-origin: center;
          -moz-transform-origin: center;
          -webkit-transform-origin: center;

          animation: bounce 3s cubic-bezier(.37, 0, .21, 1.02) infinite;
          -o-animation: bounce 3s cubic-bezier(.37, 0, .21, 1.02) infinite;
          -moz-animation: bounce 3s cubic-bezier(.37, 0, .21, 1.02) infinite;
          -webkit-animation: bounce 3s cubic-bezier(.37, 0, .21, 1.02) infinite;
        }
      }
    }

    & .button {
      transition: opacity 3s;
      opacity: 0;
      width: fit-content;
      position: relative;
      left: 10vw;
      top: 60vh;

      & img {
        margin-left: 30vw;
        cursor: pointer;
        width: 20vw;
        margin-bottom: 30vw;
        transition: transform .7s ease-in-out;
        border-radius: 100%;
        -webkit-box-shadow: 1px 1px 50px #999;
        background-color: rgba(255, 255, 255, 0.3)
      }

      & img:hover {
        transform: rotate(360deg) scale(1.1);
        -webkit-transform: rotate(360deg) scale(1.1);
        background-blend-mode: soft-light;
      }

      & img#discord_logo_img:hover {
        background-image: linear-gradient(to right, #35005b 0%, #9400c5 100%);
      }

      & img#github_logo_img:hover {
        background-image: linear-gradient(to right, #333333 0%, #b0b0b0 100%);
      }

      & img#linkedin_logo_img:hover {
        background-image: linear-gradient(to right, #000734 0%, #001fbb 100%);
      }
    }
  }
}
